### Задание 1

In [19]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_boston

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
boston_data = load_boston()
data = boston_data["data"]

C:\Users\Lenovo\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [8]:
features = boston_data["feature_names"]

X = pd.DataFrame(data, columns=feature_names)

In [9]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
target = boston_data["target"]

y = pd.DataFrame(target, columns=["price"])

In [12]:
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [18]:
lr = LinearRegression()

lr.fit(X_train, y_train)

LinearRegression()

In [20]:
y_predict_lr = lr.predict(X_test)

check_test_lr = pd.DataFrame({
    "y_test": y_test["price"], 
    "y_predict_lr": y_predict_lr.flatten()})

check_test_lr.head()

     y_test  y_predict_lr
173    23.6     28.648960
274    32.4     36.495014
491    13.6     15.411193
72     22.8     25.403213
452    16.1     18.855280

In [24]:
mean_squared_err_lr = mean_squared_error(check_test_lr["y_predict_lr"], check_test_lr["y_test"])
print(mean_squared_err_lr)

21.517444231176995

### Задание 2

In [25]:
from sklearn.ensemble import RandomForestRegressor

In [26]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [28]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [29]:
y_predict_model = model.predict(X_test)

check_test_model = pd.DataFrame({
    "y_test": y_test["price"], 
    "y_pred_clf": y_predict_model.flatten()})

check_test_model.head()

     y_test  y_pred_clf
173    23.6   22.806412
274    32.4   31.131464
491    13.6   16.339125
72     22.8   23.810726
452    16.1   17.139521

In [32]:
mean_sq_err_model = mean_squared_error(check_test_model["y_pred_clf"], check_test_model["y_test"])

In [40]:
# сравниваем 2 модели:

# первую:

mean_squared_err_lr

21.517444231176995

In [36]:
# и вторую:

mean_sq_err_model

9.334548946165196

In [ ]:
# и видим, что в данном случае лучше работает второй вариант - случайный лес